html{
    box-sizing: border-box;   
    background-color: brown;
}

body{
    font-family: cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', serif;
    background-color: bisque;
    width: 1000px;
    margin: 100px auto 700px;
    border: 10px groove brown;
    padding: 100px 10px 200px;
    

}
.page-title{
    font-size: xx-large;
    background-color: brown;
    color: bisque;
    padding: 10px;
    text-align: center;
    margin: 0px auto;
    width: 200px;
}
p{
    text-align: center;
}
.welcome{
    font-size: x-large;
    
}
h1,
h2{
    text-decoration: underline;
    color:brown
}
.list-name{
    text-align: center;
}
img{
    width: 100px;
    height: 100px;

}
a{
    display: block;
    font-size:20px;
    text-decoration: none;
    text-align: center;
    color: brown;
    margin: 10px auto;

    
}
li{
    margin: 10px auto;
}
.recipe-list{
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 5px groove brown ;
    
    list-style: none;
    /* list-style-position: inside; */
}

/* .recipe-list > li {
    flex: 1;
} */


