body{
    font-family: cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', serif;
    background-color: bisque;
}

h1,
h2{
    text-decoration: underline;
    color:brown
}

.jesse{
    width: 300px;
    height: 300px;
    
}

a{
    font-size:20px;
    text-decoration: none;
    color: black;
    
}

.recipe-list{
    
    list-style-type: upper-roman;
    list-style-position: inside;
}








